html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*
    background image: https://picsum.photos/1200/300
    primary color: hsla(160, 50%, 50%, 1);
    primary: #40bf95;
    dark: #003322;
    semi-transparent: #40bf9599;
*/

body {
  max-width: 60rem;
  margin: auto;
  font-family: Tahoma;
}

header {
  min-height: 300px;
  padding: 50px 30px;
  background-image: url("https://picsum.photos/1200/300");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

nav li {
display: inline-block;
padding: var(--spacer);
}

nav a {
  text-align: center;
  background-color: #40bf9599;
  padding: var(--spacer);
  border-radius: var(--spacer);
}

nav a:hover {
background-color: #40bf95;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h3 {
  clear: both; /* zastav plavání na obou stranách */
}

main {
  background-color: #40bf9599;
  padding: var(--spacer);
}

section {
  max-width: 60rem;
  background-color: #40bf95;
  padding: var(--spacer);
  border-bottom: 2px dotted #003322;
  overflow: auto;
  margin-right: calc(var(--spacer)*-3);
  margin-left: calc(var(--spacer)*-1);
}

section img { 
  width: 175px;
  height: auto;
  float: right;
}

.uvod {
  max-width: 100%;
  height: auto;
  position: center;
  padding-left: calc(var(--spacer)*2);
  padding-bottom: var(--spacer);
}

/* obrázky v lichých sekcích 
section:nth-child(odd) img {
  float: left;
  margin-right: 1rem;
}

obrázky v sudých sekcích 
section:nth-child(even) img {
  float: right;
  margin-left: 1rem;
}
*/

:root { 
  --primary: #40bf95;
}

h1 {
  color: var(--primary);
}

:root {
  --spacer: 1rem;
}